<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{master.css}">
    <title>Something go wrong!</title>
</head>
<body>

    <div class="title"><h1>Something go wrong!</h1></div>
    <div class="error" th:text="${error}"></div>
    <div class="error" th:text="${status}"></div>
    <div class="error" th:text="${message}"></div>
    <div class="error" th:text="${timestamp}"></div>
    <!-- <div th:text="${trace}"></div> -->
    
</body>
</html>